
body{
    background-color: aquamarine;
    width: auto;
}
p{
    color: brown;
    text-align: center;
    margin-top: 100px;
    border: 5px solid;
    width: 10%;
    border-width: 20px;
    margin-left: auto;
    margin-right: auto;
}